<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--定时执行分钟-->
    <add key="SchdulePeriod" value="15" />
    <!--主机地址-->
    <add key="HostUri" value="net.tcp://192.168.0.102:8888/SEMI" />
    <!--企业号Id-->
    <add key="CorpId" value="wx9897d42edafb9fa9" />
    <!--企业号AppSecret-->
    <add key="CorpSecret" value="dFgcy1C-amsztiTOlhC1mE_RQ2EaMp3Jp56e4uSCagJTD0kQA0RRpW24gU7XW5hC" />
    <!--企业号中SEMI应用的Token-->
    <add key="SEMIToken" value="adensemi" />
    <!--企业号中SEMI应用的EncodingAESKey-->
    <add key="SEMIAESKey" value="NNGvicGhBwyKSds6UFmesqcfIcxPepFmTparezAqBPB" />
    <!--企业号中SEMI的应用ID-->
    <add key="SEMIAgentID" value="15" />
    <!--企业号中SEMI应用的通讯录部门ID,多个用|分隔-->
    <add key="SEMIAppDept" value="10" />
    <!--链接访问地址-->
    <add key="LinkedUrl" value="http://web.adenservices.com/ADEN" />
    <!--默认字符串加解密密钥-->
    <add key="EncyptKey" value="adenservices" />
    <!--BU层级嵌套最大数-->
    <add key="BULevel" value="5" />
    <!--UOM层级嵌套最大数-->
    <add key="UOMLevel" value="5" />
    <!--MRP停止运行时间-->
    <add key="MRPStopTime" value="17:00" />
    <!--检查程序开始运行时间-->
    <add key="CustomerDataStartTime" value="20:00" />
    <!--自定义数据所在目录-->
    <add key="CustomerDataPath" value="D:\CustomerData"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SEMI" connectionString="Data Source=192.168.0.80;Initial Catalog=SFEED;User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=20" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="SEMI.Service.SEMIService">
        <endpoint binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="Model.Interface.ISEMIService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceThrottling maxConcurrentSessions="1000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding" openTimeout="00:03:00" closeTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <reliableSession enabled="true" />
          <security mode="None" />
          <readerQuotas maxStringContentLength="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsBinding" openTimeout="00:03:00" closeTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <reliableSession enabled="true" />
          <security mode="None" />
          <readerQuotas maxStringContentLength="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>