<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <!--默认字符串加解密密钥-->
    <add key="EncyptKey" value="adenservices" />
    <!--BU层级嵌套最大数-->
    <add key="BULevel" value="5" />
    <!--UOM层级嵌套最大数-->
    <add key="UOMLevel" value="5" />
    <!--微信企业号Id-->
    <add key="CorpId" value="wx9897d42edafb9fa9" />
    <!--微信企业号AppSecret-->
    <add key="CorpSecret" value="dFgcy1C-amsztiTOlhC1mE_RQ2EaMp3Jp56e4uSCagJTD0kQA0RRpW24gU7XW5hC" />
    <!--微信企业号中SEMI应用的Token-->
    <add key="SEMIToken" value="adensemi" />
    <!--微信企业号中SEMI应用的EncodingAESKey-->
    <add key="SEMIAESKey" value="NNGvicGhBwyKSds6UFmesqcfIcxPepFmTparezAqBPB" />
    <!--微信企业号中SEMI的应用ID-->
    <add key="SEMIAgentID" value="15" />
    <!--微信服务号AppID-->
    <add key="WXAppId" value="wx43b81766208f5a95" />
    <!--微信服务号Token-->
    <add key="WXAppToken" value="adenservices" />
    <!--微信服务号中的EncodingAESKey-->
    <add key="WXAppAESKey" value="AeFCEzC89FOUbUx3mh8ICMaMlKBEuJBCBm5cdKso5vj" />
    <!--链接访问地址-->
    <add key="LinkedUrl" value="http://crm.adenservices.com/sfeed" />   
    <!--图片服务器地址-->
    <add key="PictureUrl" value="http://crm.adenservices.com" />
    <!--图片目录路径-->
    <add key="PictureRoot" value="D:\jc" />
    <!--<add key="PictureRoot" value="https://crm.adenservices.com/jc" />-->
    <!--图片目录主目录名-->
    <add key="PictureFile" value="itemimages" />
    <!--自定义数据所在目录-->
    <add key="CustomerDataPath" value="D:\CustomerData" />
    <!--BUFFET图片服务器地址-->
    <add key="PictureUrl1" value="http://crm.adenservices.com/itemimages" /> <!--http://localhost/ADEN/img-->
    <!--BUFFET图片目录主目录名-->
    <add key="PictureFile1" value="OtherPages" />
    <!--图片目录路径-->
    <add key="PictureRoot1" value="D:\WorkSpace\ADENSFEED\ADEN\img" />
    <!--抽奖服务器位置-->
    <add key="LucyDrawUrl" value="http://mtn.adenservices.com:8088" />
  </appSettings>
  <connectionStrings>
    <add name="SEMI" connectionString="Data Source=192.168.0.80;Initial Catalog=SFEED;User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="Gladis" connectionString="Data Source=192.168.0.97;Initial Catalog=Gladis;User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=10" providerName="System.Data.SqlClient" />
    <add name="POS" connectionString="Data Source=192.168.0.122;Initial Catalog=YCCY;User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=10" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="300000" maxRequestLength="10240000" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>