<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Version" value="1" />
    <add key="UpdateUrl" value="http://web.adenservices.com/ADEN/SEMI/UpdateClient" />
    <add key="ExePath" value="Luoyi.JC.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SEMI" connectionString="Data Source=localhost;Initial Catalog=SFEED;User ID=sa;Password=gladis0083;Persist Security Info=True;Connection Timeout=20" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>